main {
    display: flex;
}

h1 {
    background-color: deepskyblue;
    padding: 20px;
    margin: 8px;
    text-align: center;
}

h2 {
    background-color: deepskyblue;
    padding: 10px;
    margin: 8px;
}

h3, h4 {
    margin-left: 5px;
}

p {
    margin-left: 5px;
    font-weight: bold;
}

.not-bold {
    font-weight: 400;
}

.search {
    margin: 8px;
}

#searchBtn {
    margin-top: 8px;
}

#search-border {
    border-right: 1px solid black;
}

#current-day {
    border: 1px solid black;
}

.cards {
    width: 40%;
    border: 1px solid black;
    margin: 5px;
}